@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;

}

html, body, #app {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 400px;
}


button {
  background: none;
  border: none;

  &:active {
    transform: scale(0.95);
  }
}



.nav-item {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 14px 16px;
  color: #202020;
}

.header {
  position: fixed;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  &.active {
    top: 12px;
    width: 593px;
    height: 56px;
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 16px;
    padding-inline: 4px;
    gap: 4px;

    .header-nav {
      background-color: #1A1A1A;
      border-radius: 12px;

      .nav-item {
        color: #fff;
      }
    }

    .download-btn {
      background-color: #FFFFFF;
      color: #1A1A1A;
    }
  }

  .header-logo {
    background-color: #1A1A1A;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 24px;
      height: 24px;
      background: url("@/assets/image/logo.png") center/cover no-repeat;
    }
  }

  .header-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .menu-icon {
    background: #FFFFFF;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 16px 12px;
    cursor: pointer;
    .bar {
      height: 2px;;
      background-color: #000;
      border-radius: 1px;
    }
  }

  .download-btn {
    background-color: #1A1A1A;
    width: 142px;
    height: 48px;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }



  @media (min-width: 1152px) {
    width: 1152px;
  }

  @media (max-width: 1151px) {
    width: 726px;
    gap: 4px;
    .download-btn{
      margin-left: auto;
    }
    &.active{
      width: 726px;
    }
  }

  @media (max-width: 726px) {
    width: 358px;
    gap: 4px;
    .download-btn{
      margin-left: auto;
    }
    &.active{
      width: 358px;
    }
  }
}

.footer {
  width: 100%;
  padding-block: 64px;
  padding-inline: 64px;
  border-radius: 32px;
  background-color: #1A1A1A;

  .info-groups {
    width: 1152px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info-column {
    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      font-size: 20px;
      color: #FFFFFF;

      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background: url('@/assets/image/logo.png') center/cover no-repeat;
      }
    }

    .info-text {
      margin-top: 68px;
      font-size: 14px;
      font-weight: 400;
      color: #8E8E8E;
      line-height: 1.6;
    }
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 32px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #383838;
    margin: 64px auto 0;
  }

  @media (max-width: 726px) {
    .info-groups{
      width: 100%;
    }
  }
  @media (max-width: 1151px) {}
}

@mixin image-container($img-path : null, $color, $ratio, $delay) {
  opacity: 0;
  flex: 1;
  padding: 24px;
  background-color: $color;
  border-radius: 24px;
  .image {
    border-radius: 8px;
    @if ($img-path != null) {
      background: url(#{$img-path}) center/cover no-repeat;
      aspect-ratio: 1 / #{$ratio};
    }
    @else{
      display: none;
    }

  }

  &.active {
    opacity: 1;
    transform: translateY(-10px);
    transition-delay: #{$delay}s;
  }

  .main-title {
    font-weight: 600;
    font-size: 18px;
    color: #1A1A1A;
  }
  .sub-title {
    font-weight: 400;
    font-size: 14px;
  }
}

@mixin message($x: -10){
    opacity: 0;
    text-align: center;
    &.active {
        transform: translateY(#{$x});
        opacity: 1;
    }
}

@mixin container($color, $padding, $delay) {
  opacity: 0;
  flex: 1;
  min-height: 122px;
  padding: #{$padding}px;
  background-color: $color;
  border-radius: 24px;

  &.active {
    opacity: 1;
    transform: translateY(-10px);
    transition-delay: #{$delay}s;
  }
  .main-title {
    font-weight: 600;
    font-size: 18px;
    color: #1A1A1A;
  }
  .sub-title {
    font-weight: 400;
    font-size: 14px;
  }

}

@mixin introduce-container($img-path) {
  opacity: 0;
  min-height: 122px;
  padding: 16px;
  border-radius: 24px;
  background: #F5F4F6;
  .image {
    background: #2D2D2D;
    aspect-ratio: 1 / 0.605;
    border-radius: 8px;
    position: relative;
    z-index: 5;
    transition: background 0.4s ease 0.4s;
    overflow: hidden;

    &::before {
      content: '';
      opacity: 0;
      width: 200px;
      height: 350px;
      position: absolute;
      background: url('#{$img-path}') center/contain no-repeat;
      left: 50%;
      top: 15px;
      transform: translateX(-50%);
      transition: opacity 0.4s ease 0.4s;
    }

  }

  &.active {
    opacity: 1;
    transform: translateY(-10px);

    .image{
      opacity: 1;
      transform: translateY(0);
      background: #2D2D2D radial-gradient(
                      circle 300px at center bottom,
                      #CEF24B 0%,
                      rgba(206, 242, 75, 0) 100%
      );

      &::before{
        opacity: 1;
      }
    }
  }
  .main-title {
    margin-top: 32px;
    font-weight: 600;
    font-size: 24px;
    color: #1A1A1A;
  }
  .tag-groups {
    display: flex;
    gap: 10px;
    margin-top: 18px;
    .tag-box {
      border: 1px solid #000000;
      border-radius: 100px;
      font-weight: 500;
      font-size: 12px;
      color: #1A1A1A;
      padding: 6px 12px;
    }
  }

}

@mixin value-card($color, $background, $delay){
  opacity: 0;
  flex: 1;
  background-color: #{$background};
  color: $color;
  height: 98px;
  line-height: 98px;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;

  &.active{
    opacity: 1;
    transform: translateY(-10px);
    transition-delay: #{$delay}s;
  }
}

@mixin question-box($delay){
  opacity: 0;
  .main-title{
    font-weight: 700;
    font-size: 18px;
    color: #1A1A1A;
  }

  .sub-title{
    margin-top: 13px;
    font-weight: 400;
    font-size: 16px;
    color: #383838;
  }
  &.active{
    opacity: 1;
    transform: translateY(-10px);
    transition-delay: #{$delay}s;
  }

}

@mixin intro-box($img-path ,$delay : 0.3){
  opacity: 0;
  flex: 1;
  height: 260px;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 32px;

  &::before{
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    background: url('#{$img-path}') center/cover no-repeat;
  }

  &.active {
    opacity: 1;
    transform: translateY(-10px);
    transition-delay: #{$delay}s;
  }

  .main-message {
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    color: #1A1A1A;
  }

  .sub-message {
    margin-top: 13px;
    font-weight: 400;
    font-size: 16px;
    color: #383838;
  }
}