

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;

}

html, body, #app {
    font-family: 'Pretendard', sans-serif;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


button {
    background: none;
    border: none;

    &:active {
        transform: scale(0.95);
    }
}


.nav-item {
    display: flex;
    align-items: center;
    gap: 8.5px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    color: #202020;
    &.menu{
        color: #ffffff !important;
    }
    &.active{
        &::before{
            content: "";
            display: inline-block;
            background: #ffffff;
            width: 3px;
            height: 3px;
            border-radius: 100px;
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
}

.header {
    position: fixed;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    .header-top{
        max-width: 1152px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        &.active {
            top: 12px;
            width: 593px;
            height: 56px;
            background-color: rgba(26, 26, 26, 0.5);
            border-radius: 16px;
            padding-inline: 4px;
            gap: 4px;

            .header-nav {
                background-color: #1A1A1A;
                border-radius: 12px;

                .nav-item {
                    color: #fff;
                }
            }

            .download-btn {
                background-color: #FFFFFF;
                color: #1A1A1A;
            }


            @media (max-width: 726px) {
                width: 100%;
            }
        }

        .header-logo {
            background-color: #1A1A1A;
            border-radius: 12px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                width: 24px;
                height: 24px;
                background: url("@/assets/image/logo.png") center/cover no-repeat;
            }
        }

        .header-nav {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .menu-icon {
            cursor: pointer;
            background: #FFFFFF;
            border-radius: 12px;
            width: 48px;
            height: 48px;
            display: flex;
            gap: 5px;
            flex-direction: column;
            padding: 16px 12px;
            cursor: pointer;

            .bar {
                height: 2px;;
                background-color: #000;
                border-radius: 1px;
            }
        }

        .download-btn {
            background-color: #1A1A1A;
            width: 142px;
            height: 48px;
            border-radius: 12px;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
        }
    }

    .header-bottom{
        margin-top: 36px;
        background: #1A1A1A;
        border-radius: 12px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }




    @media (min-width: 1152px) {
        width: 1152px;
    }

    @media (min-width: 600px) and (max-width: 1100px) {
        left: 8px;
        right: 8px;
        width: auto;
        transform: none;
        gap: 4px;
        .download-btn {
            margin-left: auto;
        }
        .header-top{
            &.active{
                width: 100%
            }
        }
        &.active {
            left: 8px;
            right: 8px;
            width: auto;

        }
    }

    @media (max-width: 590px) {
        left: 11px;
        right: 11px;
        width: auto;
        transform: none;
        gap: 4px;
        .download-btn {
            margin-left: auto;
        }
        &.active {
            left: 11px;
            right: 11px;
            width: auto;
        }
    }
}

.footer {
    width: 100%;
    padding: 64px;
    border-radius: 32px;
    background-color: #1A1A1A;

    .info-groups {
        width: 1152px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info-column {
        .logo {
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 600;
            font-size: 20px;
            color: #FFFFFF;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                background: url('@/assets/image/logo.png') center/cover no-repeat;
            }
        }

        .info-text {
            margin-top: 68px;
            font-size: 14px;
            font-weight: 400;
            color: #8E8E8E;
            line-height: 1.6;
        }
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 32px;

        .title{
            font-size: 14px;
            font-weight: 500;
            color: #A7A7A7;
        }
        .link-item{
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            cursor: pointer;
        }
    }

    .divider {
        width: 1152px;
        margin: 0 auto;
        height: 1px;
        background-color: #383838;
        margin: 64px auto 0;
    }

    @media (max-width: 590px) {
        padding: 28px 18px;
        .info-groups {
            width: 100%;
            display: block;
        }
        .footer-nav{
            display: none;
        }
        .divider{
            display: none;
        }
        .info-column{
            .info-text{
                margin-top: 44px;
                font-size: 13px;
            }
        }
    }
    @media (min-width: 600px) and (max-width: 1023px) {
        .info-groups{
            display: grid;
            grid-template-columns: 450px 1fr;
        }
    }
}

