@charset "UTF-8";

.container-content {
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1151px) {
    max-width: 100%;
    padding: 8px;
  }

  @media (min-width: 1152px) {
    width: 1152px;
  }

  @media (max-width: 726px) {
    max-width: 100%;
    padding: 11px;
  }
}


.container {
  .black {
    background-color: #1A1A1A;
    border-radius: 12px;
  }

  .gray {
    background-color: #FFFFFF33;
    backdrop-filter: blur(8px)
  }
}